.navrow {
	text-align: center;
	height: 23vh;
	overflow: auto;
	overflow-y: hidden;	
	min-height: 150px;
}

.navrow.first {
	margin-top: 20vh;
}

.navrow.odd {
	border:1px solid #FFC000;
	background-color: #FFC000;
}

.navrow.even {
	border:1px solid #000;
	background-color: #2F5597;
}